<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript">
		
	</script>

	<script src="/static/js/index.js">
		
	</script>
	<title>EMBEBIDOS</title>
</head>
<body>

	<h1 id='et1'>
		Dispositivos Embebidos
	</h1>
	<img id="imagen" src="https://1.bp.blogspot.com/-1vEGc7tXSM4/YMh2a_NIjnI/AAAAAAAAF60/gpR5X51Z3YEfopKMqGLU4o2zQS_lLgVhwCLcBGAsYHQ/s0/3770921.jpg" alt="user">

	<h1>
		Sensor:
	</h1>
		
	<h1 id="sensor">
		--
	</h1>
	<h1 >
		Ronald Alcívar Aplicaciones-IoT
	</h1>
	
	<button id = 'LED1On' type="button" onclick="LED1_On();">
		onclick='document.getElementById("sensor").innerHTML = "ENCENDIDO"'>
		
		LED1 ON!
		
	</button>

	<button id = 'LED1Off' type="button" onclick="LED1_Off();">
		onclick='document.getElementById("sensor").innerHTML = "APAGADO"'>
		LED1_OFF!
		
	</button>

	

	<script>
	
	function LED1_On() {
		alert("led on");
		console.log("led on");
	
        else:
            print('led off')   
	}
	function LED1_Off(){
		alert("led off");
		console.log("led off");
	}
	
	</script>
</body>
</html>
